<% layout("layouts/boilerplate.ejs") %>
    <div class="container" id="animation2">
        <!-- Example single danger button -->

        <div class="d-flex">
            <h1 class="display-4 mt-4">Welcome to EAT24...</h1>
        </div>